/* General Styling */

body {
    background: url("../images/dark_wood.png");
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    min-height: 100vh;
}

h1, h2, h3 {
    font-family: 'Georgia', Times, Times New Roman, serif;
}

h2 {
    color: #4aaaa5;
}

hr {
    border: 1px solid #cccccc;
}

.nav-item:hover {
    background-color: #4aaaa5;
}

/* Navbar */
.navbar-outer-container {
    background: #ffffff;
    border-bottom: 2px solid #cccccc;
    padding: 0;
}

.navbar h1 {
    color: white;
}

.navbar-brand {
    padding: 1em;
    margin: 0;
    background: #4aaaa5;
}

.navbar {
    padding: 0;
    margin: 0;
}

/* Main Container */
.main-container {
    background: #ffffff;
    border: 1px solid #cccccc;
}

.me-img {
    max-width: 160px;
    height: auto;
    margin: 0 1em 0 0;
}


/* Card titles */
.card-img-overlay {
    padding: 0;
}
.card-img-overlay h3 {
    background: #4aaaa5;
    color: white;
}

/* Media Queries */
@media (min-width: 1200px) {
    .container {
        max-width: 960px;
    }
}